body{
    background-color: rgb(52, 62, 85);
    color: white;
    
}

h1{
    background-color: white;
    text-align: center;
    color: rgb(93, 110, 148);
    font-family: Impact, Charcoal, sans-serif;
    font-size: 95px;
}
h2{
    font-size: 25px;
    font-family: Arial, Gadget, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
}
p{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 16px;
    text-align: justify;
    
}

img{
    width: 400px;
    margin-left: 40px;
}

.borde-1{
    border: 4px ridge  bisque;
}
.borde-2{
    border: 4px ridge rgb(127, 145, 177);
}
.borde-3{
    border: 4px ridge rgb(200, 212, 212);
}
.borde-4{
    border: 4px ridge rgb(162, 157, 157);
}
.borde-5{
    border: 4px ridge rgb(239, 229, 216);
}

.color-1{
    color: bisque;

}
.color-2{
    color: rgb(127, 145, 177);
}
.color-3{
    color: rgb(200, 212, 212);
}
.color-4{
    color: rgb(162, 157, 157);
}
.color-5{
    color: rgb(239, 229, 216);
}